:org.apache.felix.configadmin.revision:=L"16"
_lastChangeAt="2025-01-18T11:07:03"
_lastChangeBy="admin:\ Admin"
alias=""
enabled=B"true"
ess.id="ess2"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Ess.EmergencyCapacityReserve.6f9e77fb-1a3a-4b15-80d9-e87382eb732c))(|(id\=ess2)))"
id="ctrlEmergencyCapacityReserve1"
isReserveSocEnabled=B"true"
reserveSoc=I"11"
service.factoryPid="Controller.Ess.EmergencyCapacityReserve"
service.pid="Controller.Ess.EmergencyCapacityReserve.6f9e77fb-1a3a-4b15-80d9-e87382eb732c"
