:org.apache.felix.configadmin.revision:=L"106"
_lastChangeAt="2025-01-18T09:42:42"
_lastChangeBy="admin:\ Admin"
alias=""
enabled=B"true"
ess.id="ess1"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Ess.EmergencyCapacityReserve.ccfba026-f4c4-4d24-a02e-af813a006075))(|(id\=ess1)))"
id="ctrlEmergencyCapacityReserve0"
isReserveSocEnabled=B"true"
reserveSoc=I"11"
service.factoryPid="Controller.Ess.EmergencyCapacityReserve"
service.pid="Controller.Ess.EmergencyCapacityReserve.ccfba026-f4c4-4d24-a02e-af813a006075"
