:org.apache.felix.configadmin.revision:=L"13"
Modbus.target="(&(enabled\=true)(!(service.pid\=Ess.SMA.SunnyIsland.6b9da632-7893-4f4d-8e11-1ab9854fa8ee))(|(id\=modbus0)))"
_lastChangeAt="2025-01-12T18:37:47"
_lastChangeBy="admin:\ Admin"
alias=""
capacity=I"40320"
enabled=B"true"
id="ess1"
modbus.id="modbus0"
modbusUnitId=I"3"
phase="ALL"
readOnlyMode=B"false"
service.factoryPid="Ess.SMA.SunnyIsland"
service.pid="Ess.SMA.SunnyIsland.6b9da632-7893-4f4d-8e11-1ab9854fa8ee"
startStop="START"
