:org.apache.felix.configadmin.revision:=L"6"
_lastChangeAt="2025-01-09T23:39:54"
_lastChangeBy="Internal:\ ExtremeEverValues"
alias="Core.Sum"
consumptionMaxActivePower=I"20177"
essMaxDischargePower=I"20438"
essMinDischargePower=I"-17951"
gridMaxActivePower=I"15971"
gridMinActivePower=I"-10834"
id="_sum"
productionMaxActivePower=I"3567"
service.bundleLocation="?"
service.pid="Core.Sum"
