:org.apache.felix.configadmin.revision:=L"3"
alias=""
channelAddresses=[ \
  "_sum/ProductionActivePower", \
  "_sum/UnmanagedConsumptionActivePower", \
  "_sum/ConsumptionActivePower", \
  ]
enabled=B"true"
id="predictor0"
logVerbosity="NONE"
service.factoryPid="Predictor.PersistenceModel"
service.pid="Predictor.PersistenceModel.40fd0f2c-6fdc-4133-89d7-dfd909f0e208"
