:org.apache.felix.configadmin.revision:=L"1"
alias=""
enabled=B"true"
ess.id="ess2"
forceChargePower=I"2000"
forceChargeSoc=I"10"
id="ctrlLimitTotalDischarge1"
minSoc=I"15"
service.factoryPid="Controller.Ess.LimitTotalDischarge"
service.pid="Controller.Ess.LimitTotalDischarge.889f3814-a8c6-42db-a54a-de6dcc918394"
