:org.apache.felix.configadmin.revision:=L"8"
_lastChangeAt="2024-12-29T12:33:14"
_lastChangeBy="admin:\ Admin"
alias=""
enabled=B"true"
ess.id="ess1"
forceChargePower=I"8000"
forceChargeSoc="25"
id="ctrlLimitTotalDischarge0"
minSoc="28"
service.factoryPid="Controller.Ess.LimitTotalDischarge"
service.pid="Controller.Ess.LimitTotalDischarge.e38930f1-8a39-4041-a002-bbbddd594ec7"
