:org.apache.felix.configadmin.revision:=L"9"
alias=""
component.ids=[ \
  "ess2", \
  "ess1", \
  "ctrlBalancing0", \
  "ess0", \
  ]
enabled=B"false"
id="ctrlDetailedLog0"
service.factoryPid="Controller.Debug.DetailedLog"
service.pid="Controller.Debug.DetailedLog.de9868bb-7a5d-4680-8a9a-b2290d56af4e"
