:org.apache.felix.configadmin.revision:=L"39"
_lastChangeAt="2025-01-10T22:27:36"
_lastChangeBy="admin:\ Admin"
alias=""
controllers.ids=[ \
  "ctrlEmergencyCapacityReserve0", \
  "ctrlEmergencyCapacityReserve1", \
  "ctrlFixActivePower0", \
  "ctrlFixActivePower1", \
  "ctrlLimitTotalDischarge0", \
  "ctrlLimitTotalDischarge1", \
  "ctrlEssTimeOfUseTariff0", \
  ]
enabled=B"true"
id="scheduler0"
service.factoryPid="Scheduler.AllAlphabetically"
service.pid="Scheduler.AllAlphabetically.8b72c7b6-563b-4df3-af7d-249d4bb71ec3"
