:org.apache.felix.configadmin.revision:=L"40"
Modbus.target="(&(enabled\=true)(!(service.pid\=Fronius.ESS.77d78c61-c75b-4ca7-bbfc-5ec0b030ca56))(|(id\=modbus1)))"
alias=""
capacity=I"10700"
enabled=B"true"
id="ess2"
ip="192.168.0.66"
modbus.id="modbus1"
modbusUnitId=I"1"
phase="ALL"
readOnlyMode=B"false"
service.factoryPid="Fronius.ESS"
service.pid="Fronius.ESS.77d78c61-c75b-4ca7-bbfc-5ec0b030ca56"
