:org.apache.felix.configadmin.revision:=L"6"
Modbus.target="(&(enabled\=true)(!(service.pid\=Meter.SMA.SHM20.5f787a78-515f-4163-9167-3f6ecefdb2d0))(|(id\=modbus2)))"
alias=""
enabled=B"true"
id="meter0"
modbus.id="modbus2"
modbusUnitId=I"3"
service.factoryPid="Meter.SMA.SHM20"
service.pid="Meter.SMA.SHM20.5f787a78-515f-4163-9167-3f6ecefdb2d0"
type="GRID"
