:org.apache.felix.configadmin.revision:=L"6"
Ess.target="(&(enabled\=true)(!(service.pid\=Ess.Cluster.6e361486-f989-47de-b5ef-ad734bfae9d3))(|(id\=ess1)(id\=ess2)))"
_lastChangeAt="2025-01-18T09:36:16"
_lastChangeBy="admin:\ Admin"
alias=""
enabled=B"true"
ess.ids=[ \
  "ess1", \
  "ess2", \
  ]
id="ess0"
service.factoryPid="Ess.Cluster"
service.pid="Ess.Cluster.6e361486-f989-47de-b5ef-ad734bfae9d3"
startStop="START"
