:org.apache.felix.configadmin.revision:=L"14"
_lastChangeAt="2025-01-18T08:40:13"
_lastChangeBy="admin:\ Admin"
alias=""
chargeConsumptionIsActive=B"true"
controlMode="CHARGE_CONSUMPTION"
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Ess.Time-Of-Use-Tariff.5b8407c7-22da-4378-9067-02035fde32b1))(|(id\=ess0)))"
id="ctrlEssTimeOfUseTariff0"
maxChargePowerFromGrid=I"10000"
mode="AUTOMATIC"
service.factoryPid="Controller.Ess.Time-Of-Use-Tariff"
service.pid="Controller.Ess.Time-Of-Use-Tariff.5b8407c7-22da-4378-9067-02035fde32b1"
