:org.apache.felix.configadmin.revision:=L"26"
_lastChangeAt="2025-01-18T12:18:03"
_lastChangeBy="admin:\ Admin"
alias="Ess.Power"
d=D"0"
debugMode=B"false"
enablePid=B"true"
i=D"4599075939470750515"
id="_power"
p=D"4605380978949069210"
service.bundleLocation="?"
service.pid="Ess.Power"
strategy="OPTIMIZE_BY_KEEPING_ALL_EQUAL"
symmetricMode=B"true"
