:org.apache.felix.configadmin.revision:=L"373"
_lastChangeAt="2025-01-18T09:44:47"
_lastChangeBy="admin:\ Admin"
alias=""
enabled=B"true"
ess.id="ess2"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Ess.FixActivePower.076b6a4c-253a-45e6-af11-f9de0ecd4fee))(|(id\=ess2)))"
hybridEssMode="TARGET_AC"
id="ctrlFixActivePower1"
mode="MANUAL_OFF"
phase="ALL"
power=I"-1000"
relationship="EQUALS"
service.factoryPid="Controller.Ess.FixActivePower"
service.pid="Controller.Ess.FixActivePower.076b6a4c-253a-45e6-af11-f9de0ecd4fee"
