:org.apache.felix.configadmin.revision:=L"378"
_lastChangeAt="2025-01-17T19:39:41"
_lastChangeBy="admin:\ Admin"
alias=""
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Ess.FixActivePower.3b9557d6-8f0e-4e73-9d31-a37272d2748d))(|(id\=ess0)))"
hybridEssMode="TARGET_AC"
id="ctrlFixActivePower0"
mode="MANUAL_OFF"
phase="ALL"
power=I"-6000"
relationship="EQUALS"
service.factoryPid="Controller.Ess.FixActivePower"
service.pid="Controller.Ess.FixActivePower.3b9557d6-8f0e-4e73-9d31-a37272d2748d"
